{:paths ["src"]
 :deps  {com.cognitect/anomalies {:git/url       "https://github.com/cognitect-labs/anomalies.git"
                                  :sha           "2decbbb3ffd8e919c67d29f39ec6d920575f65c3"
                                  :deps/manifest :deps}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha     "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
                  :main-opts  ["-m" "cognitect.test-runner"]}}}
