{:paths ["src"]
 :deps  {com.cognitect/anomalies {:git/url       "https://github.com/cognitect-labs/anomalies.git"
                                  :sha           "2decbbb3ffd8e919c67d29f39ec6d920575f65c3"
                                  :deps/manifest :deps}}

 :aliases {:test {:extra-paths ["test"]
                   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}
                                lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}
                  :main-opts  ["-m" "kaocha.runner"]}}}
